body {
    background-color: aliceble;
}

.container {
    padding: 10px 25px;
    margin: 25px 20px;
    font-family: sans-serif;
    font-size: 1.25em;
    background-color: white;
    border: 1px solid #555;
}

h1 {
    text-align: center;
    font-weight: normal;
    color: dodgerblue;
}